extends layout

block content
  div.landing-page
    div.landing-text
      h1= title
      p Welcome to #{title}
      ul.home-options
        li
          a(href='/user/create') Create Account
        li
          a(href='/users') List of Users
