extends layout

block content
  h1= title
  p Welcome to #{title}
  ul
    li
      a(href='/account/create') Create Account
    li
      a(href='/login') Login
    li
      a(href='/users') List of Users
