doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.header-bar
      a(href="/") Home
    if session && session.user
      div.header-bar.session-text
        p Logged in as #{session.user}
    hr
    block content
