extends layout

block content
  script(src="https://d3js.org/d3.v4.min.js")
  script user = !{JSON.stringify(user)}
  h1=title

  div.heatmap
    p heatmap

  script(src="/javascripts/graph.js")
    
  h1 Name: #{user.username}

  hr
  h1 How do you feel today?
  form(method='POST' action='')
    div
      input#happy(type='radio', name="mood", value="happy")
      label(for="happy") Happy
      input#sad(type='radio', name="mood", value="sad")
      label(for="sad") Sad
      input#neutral(type='radio', name="mood", value="neutral")
      label(for="neutral") Neutral
    button(type='submit') Submit
//-    h4 Years
//    for year in user.years
//    ul 
//     for day in year.days
       li #{day.mood}
//
