extends layout

block content
  script(src="https://d3js.org/d3.v4.min.js")
  script(src="https://cdn.jsdelivr.net/npm/moment@2.21.0/moment.min.js")
  script user = !{JSON.stringify(user)}
  h1=title

  div.heatmap

  script(src="/javascripts/graph.js")
    
  h1 Name: #{user.username}

  hr
  h1 How do you feel today?
  form(method='POST' action='')
    div
      label.mood-form(for="happy") 
        input#happy(type='radio', name="mood", value="happy")
        img(src="/images/happyIcon.png")
      label.mood-form(for="sad")
        input#sad(type='radio', name="mood", value="sad")
        img(src="/images/sadIcon.png")
      label.mood-form(for="neutral")
        input#neutral(type='radio', name="mood", value="neutral")
        img(src="/images/neutralIcon.png")
      label.mood-form(for="frustrated") 
        input#frustrated(type='radio', name="mood", value="frustrated")
        img(src="/images/frustratedIcon.png")
      label.mood-form(for="excited")
        input#excited(type='radio', name="mood", value="excited")
        img(src="/images/excitedIcon.png")
      label.mood-form(for="productive")
        input#productive(type='radio', name="mood", value="productive")
        img(src="/images/productiveIcon.png")
    button(type='submit') Submit
//-    h4 Years
//    for year in user.years
//    ul 
//     for day in year.days
       li #{day.mood}
//
