.login-form {
  margin: auto;
  width: 50%;
  text-align: center;
}

.login-errors {
  list-style: none;
  text-align: center;
  padding: 0;
}

.center-form {
  text-align: left;
  margin: auto;
  width: 300px;
}

.center-form input {
  width: 100%;
}

.center-form button {
  width: 100%;
}

.center-form label {
  font-weight: bold;
  font-family: 'Nanum Gothic', sans-serif;
  margin-top: 10px;
}

.black-border-form input[type]:focus {
    border: solid black 1px;
}
