body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.header-bar {
  position: relative;
}

.header-title {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 40px;
  color: black;
  text-decoration: none;
}

.header-logo {
  width: 30px;
  margin: 0px 5px;
}

.home-options {
  list-style-type: none;
  padding: 0px;
}

.home-options li {
  font-size: 20px;
}

.session-text {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 18px;
}

.session-text p {
  padding: 0;
  margin: 0;
}

.session-text a {
  color: black;
}

.landing-page {
  height: 500px;
  position: relative;
  background: url("../images/landingImage.svg");
  background-size: auto;
}

.landing-text {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: 'Nanum Gothic', sans-serif;
  text-align: center;
}

.landing-title {
  font-size: 7em;
  font-family: 'Berkshire Swash', cursive;
}

.landing-subtitle {
  font-weight: bold;
}

.heatmap {
  margin: 20px 0px;
}

.mood-form {
  display: inline-block;  
  margin: 0px 5px 5px 0px;
  border: black solid 1px;
}

.mood-form > input {
  visibility: hidden;
  position: absolute;
}

.mood-form > input + div {
  cursor: pointer;
  padding: 5px;
}

.mood-form > input:checked + div {
  border: 2px solid black;
}

.mood-label-block > * {
   vertical-align: middle;
 }

.mood-block {
  margin: 0px 5px;
}

.mood-label {
  display: inline-block;
  margin: 5px 0px;
}


